# CMake build dir
build/

# SigMF files
*.sigmf-data
*.sigmf-meta

# Visual Studio Code config directory
.vscode/

# Python
*.pyc

.pytest_cache/

.cache

# Example files
/examples/*.py

# Eclipse config files
.cproject
.project
.pydevproject
.settings/

# Vim
*.swp

# unittest junk
.unittests/